/* Flex */
.flex-wrap {
  flex-wrap: wrap; }

.flex-align-content_start {
  align-content: flex-start; }

.flex-space-between_start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row; }

.flex-space-between_end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row; }

.flex-space-between_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.flex-space-between_baseline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row; }

.flex-space-around_start {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row; }

.flex-space-around_end {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row; }

.flex-space-around_center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row; }

.flex-space-around_baseline {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row; }

.flex-space-evenly_start {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row; }

.flex-space-evenly_end {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: row; }

.flex-space-evenly_center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row; }

.flex-space-evenly_baseline {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-direction: row; }

.flex-start_start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row; }

.flex-start_end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row; }

.flex-start_center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.flex-start_baseline {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: row; }

.flex-end_start {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row; }

.flex-end_end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row; }

.flex-end_center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row; }

.flex-end_baseline {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-direction: row; }

.flex-center_start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row; }

.flex-center_end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row; }

.flex-center_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.flex-center_baseline {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row; }

.l-grid {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }
