.c-about__p {
  max-width: 600px;
  width: 100%;
  margin: 15px 0px 0px; }

.c-about__social-proofs {
  width: 100%;
  margin: 70px 0px 0px;
  padding: 0px 8px 0px 13px; }

.c-about__break {
  max-width: 250px;
  width: 100%;
  margin: 0px 30px; }
