.c-social-proof {
  width: 155px;
}

.c-social-proof__img {
  width: 106px;
  height: 106px;
  margin: 0 auto;
  background-color: $light-grey;
}

.social-proof__h3 {
  width: 100%;

  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  color: $black;
}