.l-grid-column {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.l-grid-column_position_around {
  @include flex-position(space-around, center, column);
}

.l-grid-column_position_between {
  @include flex-position(space-between, center, column);
}