.c-services-portfolio-wrapper {
  background-image: url("../img/bg/services.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: relative;
  z-index: 0;
}